@font-face {
    font-family: 'Iransans';
    src: url(/fonts/IranSans/IRANSansWebFaNum.eot) format('embedded-opentype'), url(/fonts/IranSans/IRANSansWebFaNum.woff2) format('woff2'), url(/fonts/IranSans/IRANSansWebFaNum.woff) format('woff'), url(/fonts/IranSans/IRANSansWebFaNum.ttf) format('truetype');
}
body, a {
    font-family: Iransans;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Iransans;
}

p {
    font-family: Iransans;
}
.dir-rtl
{
    direction:rtl;
}
.print-title{
    padding-bottom:30px;
}
.print-cell {
    border-left: 1px solid #F7F7F7;
}

.print-row{
    padding-bottom:10px;

}
.print-col{
    margin-left:2px;
}
.fright{float:right;}
tr, td {
    page-break-inside: avoid !important;
}

/*.multiline-text textarea {
    width: 630px;
    height: 365px;
}*/
