
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
	<button type="button" onclick="clickButton();" >asdasd</button>
</div>
	<script src="~/Assets/js/jquery-2.1.3.min.js"></script>
<script>
	
	function clickButton() {


		$.ajax(
			{
				url:'https://flwland.com/api/v1',
				data: { key: 'YZAHV8ujQqha0Ut6VYHca5c2bSUoJ4XR', action: 'services' },
				type: 'POST',
				headers: {
					'Access-Control-Allow-Origin': 'https://flwland.com' ,
					'X-Content-Type-Options': 'nosniff'
				},
				crossDomain: true,
				dataType: 'jsonp',
				success: function(data) { // success callback function
					console.log(data);
				}
			});
	}
</script>
</body>
</html>
