<nav class="nav-primary hidden-xs">
    <ul class="nav">

        <li id="blogLi" class="menuitem"><a href="/pagegroups"><i class="fa fa-file icon"><b class="bg-info"></b></i><span>مدیریت گروه صفحات</span></a></li>
        <li id="blogLi" class="menuitem"><a href="/pages"><i class="fa fa-file icon"><b class="bg-info"></b></i><span>مدیریت صفحات</span></a></li>
        <li id="blogLi" class="menuitem"><a href="/comments"><i class="fa fa-file icon"><b class="bg-info"></b></i><span>مدیریت نظرها</span></a></li>
        <li id="blogLi" class="menuitem"><a href="/Portfoliogroups"><i class="fa fa-file icon"><b class="bg-info"></b></i><span>مدیریت گروه نمونه کارها</span></a></li>
        <li id="blogLi" class="menuitem"><a href="/Portfolios"><i class="fa fa-file icon"><b class="bg-info"></b></i><span>مدیریت نمونه کارها</span></a></li>
        <li id="blogLi" class="menuitem"><a href="/faqs"><i class="fa fa-file icon"><b class="bg-info"></b></i><span>مدیریت سوالات متداول</span></a></li>
       
        @*<li id="proLi" class="menuitem">
            <a href="#">
                <i class="fa fa-sitemap icon"><b class="bg-primary"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>مدیریت محصولات</span>
            </a>
            <ul class="nav lt">
                <li>
                    <a href="/fa/productgroups">
                        <i class="fa fa-angle-left"></i><span>مدیریت گروه محصولات</span>
                    </a>
                </li>
                <li>
                    <a href="/fa/products">
                        <i class="fa fa-angle-left"></i><span>مدیریت محصولات</span>
                    </a>
                </li>
            </ul>
        </li>*@


    </ul>
</nav>
