@model ViewModels._BaseViewModel
<footer>
<div id="footer-top">
</div>
<div id="footer">
<div class="container">
<div class="row">
<div class="col-sm-3">
    <div class="widget widget-text">
        <label class="widget-title">درباره زاوش</label><p>شرکت مشاوران سیستم های پیشرفته زاوش با همکاری متخصصان داخلی و خارجی و با توجه به فرهنگ و خصوصیات کشور این توانمندی را دارد که سازمان ها را در رسیدن به اهدافشان و افزایش توان رقابتی شان یاری نماید</p>
	    <div class="certificate" >
		    <a rel="nofollow noopener" target="_blank" href="https://trustseal.enamad.ir/?id=203388&amp;Code=T8VjSBeS8UROQtUSqPLl">
			    <img src="~/Images/logo-enamad.png" />
		    </a>
	    </div>
	    <div class="certificate" >
			
		    <a rel="nofollow noopener" target="_blank" href="https://logo.samandehi.ir/Verify.aspx?id=213382&p=uiwkrfthxlaoxlaomcsiuiwk">
			    <img src="~/Images/logo-samandehi.png" />
		    </a>
	    </div>
	    <style>

				
    	</style>

	    
</div>
</div>
<div class="col-sm-3">
<div class="widget widget-latest-news">
<label class="widget-title">آخرین مطالب وبلاگ</label>
<ul>
@foreach (var page in Model.FooterBlog)
{
<li><p class="news-title"><a href="/page/@page.UrlParameter">@page.Title</a></p></li>
}
</ul>
</div>
</div>
<div class="col-sm-3">
<div class="widget widget-flickr">
<label class="widget-title">دسترسی سریع</label>
<div><ul class="circle-list"><li><a href="/"> صفحه اصلی</a></li><li><a href="/portfolio">نمونه کارها</a></li><li><a href="/page">خدمات</a></li><li><a href="/blog">وبلاگ</a></li></ul>
</div>
</div>
</div>
<div class="col-sm-3">
<div class="widget widget-contact">
<label class="widget-title">تماس با ما</label>
<ul>
<li><span>آدرس</span>تهران، آجودانیه (شهید سباری)<br>پلاک 5، واحد 2</li>
<li><span>تلفن</span>021-26910970 @*, 021-22805105*@</li>
	<li><span>شبکه های اجتماعی</span>
		<a class="facebook" target="_blank" href="https://www.facebook.com/ZeusAdvancedSystemsConsulting" rel="noreferrer nofollow"><i class="fa fa-facebook"></i></a>
		<a class="twitter" target="_blank" href="https://twitter.com/zavoshco" rel="noreferrer nofollow"><i class="fa fa-twitter"></i></a>
		<a class="instagram" target="_blank" href="https://www.instagram.com/zavoshsoftware" rel="noreferrer nofollow"><i class="fa fa-instagram"></i></a>
		<a class="instagram" target="_blank" href="https://t.me/zavoshsoftware" rel="noreferrer nofollow"><i class="fa fa-telegram"></i></a>
	</li>
	<li><a target="_blank" rel="noreferrer nofollow" href="https://api.whatsapp.com/send?phone=989396084722&text=سلام و وقت بخیر">تماس از طریق واتس اپ</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div id="footer-bottom">
<div class="container">
<div class="row">
<div class="col-sm-12">
	<div class="widget widget-text"><p class="last text-center text-uppercase">تمامی حقوق این وب سایت متعلق به شرکت مشاوران سیستم های پیشرفته زاوش می باشد.</p></div>
</div>
</div>
</div>
</div>
</footer>