@model ViewModels._BaseViewModel
<header><div class="container">
<div class="row"><div class="col-sm-2"><a id="logo" href="/"><img src="/Images/backgrounds/zavoshlogo.png" alt="طراحی سایت زاوش" width="164" height="70"></a></div>
<div class="col-sm-10"><nav><a id="mobile-menu-button" href="#"><i class="fa fa-bars"></i></a>
	<ul class="menu clearfix" id="menu">
		<li><a href="https://zavoshsoftware.com/page/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D9%88%D8%A8-%D8%B3%D8%A7%DB%8C%D8%AA">طراحی سایت</a></li>	
		<li><a href="https://zavoshsoftware.com/page/%D8%B3%D8%A6%D9%88">سئو سایت</a></li>	
		<li><a href="https://zavoshsoftware.com/page/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%A7%D9%BE%D9%84%DB%8C%DA%A9%DB%8C%D8%B4%D9%86-%D9%85%D9%88%D8%A8%D8%A7%DB%8C%D9%84">طراحی اپلیکیشن موبایل</a></li>	
		<li><a href="https://zavoshsoftware.com/page/%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%B3%D8%A7%DB%8C%D8%AA-%D9%81%D8%B1%D9%88%D8%B4%DA%AF%D8%A7%D9%87-%D8%A7%DB%8C%D9%86%D8%AA%D8%B1%D9%86%D8%AA%DB%8C">طراحی سایت فروشگاهی</a></li>	
		<li><a href="https://zavoshsoftware.com/portfolio">نمونه کارها</a></li>
	</ul></nav></div></div></div></header>