@model ViewModels._BaseViewModel
<header><div class="container">
<div class="row"><div class="col-sm-2"><a id="logo" href="/"><img src="/Images/backgrounds/zavoshlogo.png" alt="طراحی سایت زاوش"></a></div>
<div class="col-sm-10">
<nav><a id="mobile-menu-button" href="#"><i class="fa fa-bars"></i></a>
<ul class="menu clearfix" id="menu">
<li class="dropdown"><a href="#">خدمات</a>
<ul>@foreach (var menu in Model.MenuServicePages)
{<li><a href="/page/@menu.UrlParameter">@menu.Title</a></li>}
</ul></li><li><a href="/portfolio">نمونه کارها</a></li><li><a href="/blog">وبلاگ</a></li><li><a href="/contact">تماس با ما</a></li>
</ul></nav></div></div></div></header>