@model ViewModels._BaseViewModel

<div class="col-md-3 rating">
    <input id="input-21b" value="@Model.Rate" type="text" class="rating" data-min=0 data-max=5 data-step=0.5 data-size="xs"
           required title="">
    <input type="button" class="btn btn-primary" id="submitRating" value="ثبت امتیاز" onClick="SubmitRate();return false();" />
</div>


<html dir="rtl">
<head></head>
<body>

</body>
</html>